		{% load static %}
		<!DOCTYPE html>
		<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">

			<title>Escuela Profesional de Ingeniera de Sistemas</title>
			<link rel="stylesheet"  href="{%static 'pagina.css' %}">
			
		</head>

		<body>


		<header>
		<a href="http://www.unfv.edu.pe/facultades/fiis/" class="logo"> <p><b>"CONSULTORÍA DIGITAL-TIKI"</b></p> </a>
		 <nav>
		   <ul>
			 <li><a href="https://web2.unfv.edu.pe/sitio/">Inicio</a></li>
			 <li><a href="https://www.facebook.com/FIISUNFVOFICIAL">Nosotros</a></li>
			 <li><a href="https://web2.unfv.edu.pe/Sitio/servicio-institucional/aula-virtual">Blog</a></li>
			 <li><a href="http://www.unfv.edu.pe/facultades/fiis/departamento-academico/dpto-academico-profesional-de-ingenieria-de-sistemas/itemlist/category/65-plana-docente">Nuestros Servicios</a></li>
			 <li><a href="http://www.unfv.edu.pe/facultades/fiis/index.php/servicios/directorio-telefonico">Contactanos</a></li>
		   </ul>
		  </nav>
		</header>	

		

		<section class="Fondo text-center">
		  <img src="{% static "imagenes/fondo.jpg" %}">
		    
		</section>


		<script type="text/javascript">
			window.addEventListener("scroll", function(){
				var header = document.querySelector("header");
				header.classList.toggle("abajo",window.scrollY>0);
			})
		</script>

		

	<div class="container">
		<div class="row division text-center">
			<div class=" perfilpro">
				<h2>¿Quienes Somos?:
		<h3>Somos asesores comprometidos con un solo cometido: ayudar a nuestros clientes a cumplir sus sueños y objetivos. Esto lo conseguimos mediante asesoría profesionales en dos grandes áreas. previsional y desarrollo..  </h3>
			</div>
		</div>


		<div class="duca row division text-center">
			<div class=" duca"><h2>Estrategia Digital:
		<h3>Podemos a tu disposición 10 años de experiencia liderando casos de éxito en SEO,SEM, Social Medio y analítica Web para definir una hoja de ruta hacia el éxitos en las operaciones digitales de tu  empresa, desarrollando una propuesta única en venta que maximice el valor para tus clientes y la rentabilidad en tu cuenta de resultados.</h3></div>
		<h3>CUSTOMER EXPERIENCE		</h3>
		<h3>BESTRATEGIA SEO		</h3>
		<h3>ESTRATEGIA PERFORMANCE / SEM MARKETING</h3>
		<h3>ESTRATEGIA MARKETPLACES		</h3>
		<h3>ESTRATEGIA REDES SOCIALES</h3>
		<h3>MEDICIÓN Y ANÁLISIS		</h3>
		<h3>MARKETING AUTOMATIZADO		</h3>
		<h3>INBOUND Y CONTENIDOS		</h3>
		<h3>DESARROLLO WEB		</h3>
		</div>


		<div class="especi division text-center">
			<h2>Especialistas:</h2>

			<div class="marcelo">
				<img src="{% static "imagenes/marcelo.jpg" %}">
				<h3>Ing. Arevalo</h3>
			</div>
			<div class="sebastian">
				<img src="{% static "imagenes/sebastian.png" %}">
				<h3>Ing. Chavesta</h3>
			</div>
			<div class="diegope">
				<img src="{% static "imagenes/diegope.png" %}">
				<h3>Ing. Perez</h3>
			</div>
			<div class="angelo">
				<img src="{% static "imagenes/angelo.png" %}">
				<h3>Ing. Ticllacuri</h3>
			</div>
		</div>


		<div class="extra row divison text-center">
			<div class="ubicacion">
				<h2>Nuestra Ubicacion:</h2>
			<h3> Av. Óscar R. Benavides N°450 - Lima </h3>
			</div>
			<div class="telefono">
				<h2>Telefono:</h2>
				<h3> (01) 4237202 </h3>
			</div>
			<div class="redes">
				<h2>Redes Sociales:</h2>
				<a href="https://www.facebook.com/CEI.FIIS.UNFV">
					<img src="{% static "imagenes/twiter.png" %}">
				</a>

				<a href="https://www.facebook.com/FIISUNFVOFICIAL">
					<img src="{% static "imagenes/face.png" %}">
				</a>
				
			</div>
			<div class="wasap">
				<h2>Whatsapp:</h2>
				<a href="https://youtu.be/r39Ii6bfU3Q?list=RDEM6QQucFQ06Hx5ck6Qe8beag">
					<img src="{% static "imagenes/wasap.png" %}">
				</a>
			</div>
		 
		
		 
		</div>


		



	</div>


		</body>
		</html>